<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="c:\users\developer\appdata\local\programs\python\python37\python.exe|c:\users\developer\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\Users\Developer\Desktop\my-api" />
	<add key="WSGI_LOG" value="C:\Users\Developer\Desktop\my-api\app.log" />
  </appSettings>
</configuration>  